
<footer class="footer" style="background-color: rgb(247, 241, 242); padding: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 lined mb-4" style="font-size: 18px; font-family: 'Arial', sans-serif;font-style: bold;">Furniture</h2>
          <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="font-size: 16px; margin-bottom: 8px;">Living Room Furniture</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Dining & Kitchen Furniture</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Bedroom Furniture</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Mattresses</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Kids Furniture</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Study & Office Furniture</li>
          </ul>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 lined mb-4" style="font-size: 18px; font-family: 'Arial', sans-serif;font-style: bold;">Home Décor</h2>
          <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="font-size: 16px; margin-bottom: 8px;">Idols & Figurines</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Clocks</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Candles & Fragrances</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Wall Décor</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Mirrors</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Vases & Flowers</li>
          </ul>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 lined mb-4" style="font-size: 18px; font-family: 'Arial', sans-serif; font-style: bold;">Home Furnishings</h2>
          <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="font-size: 16px; margin-bottom: 8px;">Bedding</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Covers & Inserts</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Curtains</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Mats & Rugs</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Bath Accessories</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Table Linen</li>
          </ul>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 lined mb-4" style="font-size: 18px; font-family: 'Arial', sans-serif;font-style: bold;">Tableware & Kitchenware</h2>
          <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="font-size: 16px; margin-bottom: 8px;">Drinkware</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Food Storage</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Cookware</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Kitchen Accessories</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Kitchen Appliances</li>
            <li style="font-size: 16px; margin-bottom: 8px;">Home Basics</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="text-center">
    <p>&copy;product 2023. All right reserved</p>
</footer>
  
