<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/Apron Curtain.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Apron Curtain</h5>
          <p class="card-text">Apron curtains are perfect if you need shorter curtains</p>
          <p> ₹1,899 </p>
          <a href="/cart" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Blackout Curtain.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Blackout Curtain</h5>
          <p class="card-text">Blackout Curtain are made with heavyweight materials that block light</p>
          <p> ₹4,599 </p>
          <a href="/cart" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Box Pleat Curtain.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Box Pleat Curtain</h5>
          <p class="card-text">Box Pleat Curtain has folds that run deep and uninterrupted across the entire length</p>
          <p> ₹3,199 </p>
          <a href="/cart" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Rod Pocket Curtain.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Rod Pocket Curtain</h5>
          <p class="card-text">Rod Pocket Curtain are typically made of lightweight fabrics</p>
          <p> ₹4,399 </p>
          <a href="/cart" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/Single Panel Curtain.jpeg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Single Panel Curtain</h5>
            <p class="card-text">Single Panel Curtain gives modern look in almost any room</p>
            <p> ₹1,699 </p>
            <a href="/cart" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      
  </div>