<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/bench.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Bench</h5>
          <p class="card-text">Wooden bench with fine finishing</p>
          <p> ₹3,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/chair.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Chair</h5>
          <p class="card-text">Wooden chair with fine finishing</p>
          <p> ₹999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Dining table.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Dining Table</h5>
          <p class="card-text">Small two sharing Dining table</p>
          <p> ₹2,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/sofa.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Sofa</h5>
          <p class="card-text">A comfortable family sized sofa</p>
          <p> ₹9,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/stool.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Stool</h5>
            <p class="card-text">More durable stool</p>
            <p> ₹2,999 </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      
  </div>
