
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/Coastal Kitchen.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Coastal Kitchen</h5>
          <p class="card-text">Coastal Kitchen will give you a beach vibes as cooking in a beach with that blue texture of wooden finishing</p>
          <p> ₹4,59,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Contemporary Kitchen.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Contemporary Kitchen</h5>
          <p class="card-text">Contemporary Kitchen is designed in such a way that we can easy connect with people around and communicate with each other</p>
          <p> ₹2,75,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Farmhouse Kitchen.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Farmhouse Kitchen</h5>
          <p class="card-text">Farmhouse Kitchen will gives you authentic farm feel</p>
          <p> ₹2,58,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Old World Kitchen.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Old World Kitchen</h5>
          <p class="card-text">Old World Kitchen Old World design will embrace you in history and luxury</p>
          <p> ₹3,30,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/Scandinavian Kitchen.jpeg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Scandinavian Kitchen</h5>
            <p class="card-text">Scandinavian Kitchen Exposes beams and wooden elements are embellished with black texture</p>
            <p> ₹3,05,999 </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      
  </div>