<div class="div card-top container-fluid">
    <div class="container d-flex" style="padding: 1%;">
      <div class="item">
          <a>
            <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Furniture_category_01nov_360_21.jpg" alt="Furniture">
            <a style="font-size: small;color: black;" routerLink="furniture">Furniture</a>
          </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Decor_02112023_360_18.jpg" alt="Wall Decore">
          <a style="font-size: small;color: black;" routerLink="wall-decor">Wall-Decore</a>
        </a> 
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Lamps_Shop_By_Categories_27072023_360_4.jpg" alt="Lamps&Lighting">
          <a style="font-size: small;color: black;" routerLink="lamp">Lamps</a>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Decor_02112023_360_1.jpg" alt="Vase">
          <a style="font-size: small;color: black;" routerLink="vase">Vase</a>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Furnishing_Categories_360_01082023_5.jpg" alt="Curtain">
          <a style="font-size: small;color: black;" routerLink="curtain">Curtain</a>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/KD_clp_category_360_5.jpg" alt="Kitchen">
          <a style="font-size: small;color: black;" routerLink="kitchen">Kitchen</a>
        </a>
      </div>
  
    </div>
  </div>
  <div class="div card-top container-fluid">
  <app-lamp></app-lamp>
  <app-wall-decor></app-wall-decor>
  <app-furniture></app-furniture>
  <app-vase></app-vase>
  <app-curtain></app-curtain>
  <app-kitchen></app-kitchen>
  </div>