<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/A basket wall.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Basket Wall</h5>
          <p class="card-text">Baskets knitted using the world's finest wool</p>
          <p> ₹3,599</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Abstract Wall Art.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Abstract Wall Art</h5>
          <p class="card-text">Abstract wall art for the living room</p>
          <p> ₹7,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Mural art.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Mural Art</h5>
          <p class="card-text">Mural art for living room and hall</p>
          <p> ₹6,599 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Wall clock.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Wall Clock</h5>
          <p class="card-text">An aesthetic floral patterned wall clock </p>
          <p> ₹4,799 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/wall mirror.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Wall Mirror</h5>
            <p class="card-text">An infinity illusion mirror with swirl design</p>
            <p> ₹4,199 </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      
  </div>
