<div class="homepage" style=" padding-right: 0; overflow-x: hidden;">
  <section class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active"
          style=" background-image: url('../../assets/mid-century-modern-living-room-interior-design-with-monstera-tree.jpg')">
          <div class="carousel-caption" style="padding-bottom: 300px;">
            <h2 style="color:rgb(231, 72, 125);">With A Touch of The Extraordinary</h2>
            <p style="color:palevioletred; "> A Touch of The Extraordinary, where every detail is crafted to elevate your living space.</p>
          </div>
        </div>
        <div class="carousel-item"
          style="background-image: url('../../assets/pink-armchair-white-living-room-with-copy-space.jpg')">
          <div class="carousel-caption" style="text-align:left;">
            <h2 style="color: black;">Clean Line & Comfort</h2>
            <p style="color: black;">Clean Line & Comfort, where sleek designs meet an inviting sense of tranquility.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://img.freepik.com/free-photo/room-house-decorated-with-brazilian-folklore-design_23-2150794024.jpg?t=st=1699713158~exp=1699716758~hmac=0393504b311bf0118bd17ca6fdcc2c13fbe33e6c68c3743d7139f79050e0b982&w=1060')">
          <div class="carousel-caption" style="padding-bottom: 320px; color:rgb(37, 30, 30) ;">
            <h2>Organise.Cook.Eat.Repeat</h2>
            <p>Where efficient organization meets delightful cooking experiences for a repeatable joy in every meal.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://img.freepik.com/free-photo/old-fashioned-lantern-illuminated-table-glowing-with-candlelight-generated-by-ai_188544-39977.jpg?t=st=1699712025~exp=1699715625~hmac=baac6d5a1f16858a36bc43319f544c102d478a7517d68195a7be8c0caeed08d5&w=1060')">
          <div class="carousel-caption">
            <h2>Elevate your Space</h2>
            <p>Where innovative design meets functional elegance for a heightened living experience.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
   <!-- Shop By Categories-->
   <section>
    <div class="Stores">
     <h2 style="text-align: center; color: rgb(184, 22, 149); padding-top: 3%;">Shop by Category</h2>
   <div class="div card-top container-fluid">
    <div class="container d-flex" style="padding: 1%;">
      <div class="item">
          <a>
            <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Furniture_category_01nov_360_21.jpg" alt="Furniture">
            <a style="font-size: small;color: black;" routerLink="/furniture">Furniture</a>
          </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Decor_02112023_360_18.jpg" alt="Wall Decore">
          <a style="font-size: small; color: black;" routerLink="/wall-decor">Wall-Decore</a>
        </a> 
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Lamps_Shop_By_Categories_27072023_360_4.jpg" alt="Lamps&Lighting">
          <a style="font-size: small;color: black;" routerLink="/lamp">Lamps</a>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Decor_02112023_360_1.jpg" alt="Vase">
          <a style="font-size: small;color: black;" routerLink="/vase">Vase</a>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/Furnishing_Categories_360_01082023_5.jpg" alt="Curtain">
          <a style="font-size: small;color: black;" routerLink="/curtain">Curtain</a>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/KD_clp_category_360_5.jpg" alt="Kitchen">
          <a style="font-size: small;color: black;" routerLink="/kitchen">Kitchen</a>
        </a>
      </div>
  
    </div>
  </div>
   <!-- Deal of the day-->
  
  
   <!-- stores -->
   <section>
    <div class="Stores">
     <h2 style="text-align: center; color: rgb(184, 22, 149);padding-top:3%;">Visit Us</h2>
     <div class="row row-cols-1 row-cols-md-3 g-4">
       <div class="col position-relative">
         <div class="card h-100">
           <img src="../../assets/beautiful-panoramic-city-buildings-orange-sky-sunset.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
           <div class="card-body text-overlay">
             <h5 class="card-title">Bangaluru</h5>
           </div>
         </div>
       </div>
       <div class="col position-relative">
         <div class="card h-100">
           <img src="../../assets/beautiful-shot-udaipur-from-window-city-palace.jpg" class="card-img-top" alt="Palm Springs Road" />
           <div class="card-body text-overlay">
             <h5 class="card-title" style="text-align: center;">Mysore</h5>
           </div>
         </div>
       </div>
       <div class="col position-relative">
         <div class="card h-100">
           <img src="../../assets/aerial-view-coconut-palm-trees-plantation-road.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
           <div class="card-body text-overlay">
             <h5 class="card-title">Mangaluru</h5>
           </div>
         </div>
       </div>
     </div>
   </div>    
  </section>
  
  
  
  <!-- About Us Section -->
  <section id="about-us" style="padding: 50px 0;">
    <div class="container">
        <h2 class="text-center" style="color: rgb(184, 22, 149);;">About Us</h2>
        <p class="text-center">Welcome to Shop for Home – Your Ultimate Destination for Premium Home Décor!</p>
        
        <p>At Shop for Home, we take pride in curating an exquisite collection of the finest home furnishings to transform your living spaces into havens of comfort and style. We understand the significance of creating a home that reflects your unique taste and personality, and that's why we bring you a diverse range of top-tier furniture and home accessories.</p>
  
        <h4 class="text-center">Our Promise of Quality</h4>
        <p>Quality is at the core of everything we do. Each piece in our collection is carefully selected for its superior craftsmanship, durability, and aesthetic appeal. From luxurious furniture that adds elegance to every room to captivating wall decors that tell your story, we are dedicated to offering products that stand the test of time.</p>
  
        <h4 class="text-center">Discover Elegance in Every Corner</h4>
        <p>Whether you're seeking statement furniture, mood-setting lamps, eye-catching vases, stylish curtains, or functional kitchen essentials, Shop for Home is your one-stop destination. Our commitment to providing the best extends beyond the product itself – we strive to make your shopping experience seamless and enjoyable.</p>
  
        <h4 class="text-center">Unleash Your Style</h4>
        <p>We believe that your home is a canvas, and your style is the masterpiece. Explore our carefully curated collections to find the perfect pieces that resonate with your aesthetic. Our range is designed to cater to diverse tastes, from timeless classics to modern marvels.</p>
  
        <h4 class="text-center">Exceptional Customer Service</h4>
        <p>At Shop for Home, customer satisfaction is paramount. Our dedicated team is here to assist you at every step, from selecting the ideal piece to ensuring safe and timely delivery. Your satisfaction is our success, and we are committed to exceeding your expectations.</p>
  
        <p class="text-center">Transform your home with Shop for Home – where quality meets elegance, and style finds its home.</p>
    </div>
  </section>
  <app-footer></app-footer>
  </div>
