<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/Diamond cut Lamp.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Bouquet Vase</h5>
          <p class="card-text">A beautiful Diamond with finsest finishing cut Glass Table Lamp</p>
          <p> ₹1,299 </p>
          <a href="/cart" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Hanging ceiling Decorative Chandelier.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Hanging ceiling Decorative Chandelier</h5>
          <p class="card-text">Chandelier an ultimate luxury with finest delicacy</p>
          <p> ₹6,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/Hanging Pendant Ceiling Light Lamp.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Hanging Pendant Ceiling Light Lamp</h5>
          <p class="card-text">An old style antique copper Pendant Lamp</p>
          <p> ₹5,999 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/LED Tree lamp.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">LED Tree lamp</h5>
          <p class="card-text">A decorative LED power saving Tree Lamp</p>
          <p> ₹799 </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/Tripod Floor Lamp.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Tripod Floor Lamp</h5>
            <p class="card-text">An astonishing Tripod stability Floor Lamp</p>
            <p> ₹4,999 </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      
  </div>
